.container {
  height: 100vh;
  width: 100%;
  background-image: url(/homeback.avif);
  background-size: cover;
  .section1 {
    background-color: aliceblue;
    opacity: 0.5;
  }

  .section2 {
    background-color: aqua;
    opacity: 0.5;
  }

  .intro {
    width: 50vw;
    margin-left: 10%;
    margin-top: 10%;
    font-weight: 600% bold;
    box-sizing: border-box;
    div {
      h1 {
        font-size: 600%;
        font-weight: bold;
      }
      p {
        font-size: 200%;
      }
    }
  }
}

.content1 {
  // width: 100vw;
  color: black;
  font-weight: 600;
  margin-bottom: 10%;
  display: flex;
  // flex-direction: column;
  flex: 1;
  margin-left: 10%;
  margin-top: 5%;
  .images {
    max-width: 500px;
    max-height: 410px;
    display: flex;
    flex-wrap: wrap;

    img {
      padding: 2px;
      width: 100%;
      // height: 100%;
    }
  }
  .time {
    margin-left: 5%;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 10%;
    margin-left: 0;
  }
}
